*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

.container{
    width:90;

}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}